body,
html {
    height: 80%;
    margin: 0;
    max-width: auto;
}

h {
    font-size: 52px;
    font-family: 'Finger Paint';
}

p {
    font-family: 'Fira Sans';
    font-size: 20px;
}

#overview {
    position: absolute;
    top: 510px;
    left: 130px;
}

#sum {
    position: absolute;
    top: 550px;
    left: 500px;
    font-size: 18px;
}

.hero-image {
    background-image: url("../img/GoalGetter.png");
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#button {
    background-image: url("../img/GoalButton.png");
    height: 400PX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}