body,
html {
    height: 100%;
    margin: 0;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hero-image {
    background-image: url("../img/HoneydewH.png");
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.phoneview {
    max-height: 550px;
}

#phone1 {
    margin-top: 300px;
    margin-left: 30%;
}

#phone2 {
    margin-top: 490px;
    margin-left: 2%;
}

.strong {
    font-family: 'Jua';
    font-size: 32px;
}

#main {
    text-align: center;
    color: #3A3A3A;
    margin-bottom: 170px;
    margin-top: 3%;
}

#overview {
    margin-top: 170px;
    margin-bottom: 170px;
}

p {
    font-family: 'Josefin Sans';
    font-size: 22px;
}

h2,
h3 {
    margin-top: 4%;
    margin-bottom: 4%;
}

#O1 {
    margin-top: 7%;
    margin-bottom: 8%;
}