body,
html {
    height: 100%;
    margin: 0;
    max-width: auto;
}

.hero-image {
    background-image: url("../img/festa.png");
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.strong {
    font-family: 'Cherry Swash';
    font-size: 32px;
    text-align: center;
    padding-top: 550px;
}

p {
    font-family: 'Epilogue';
    font-size: 20px;
}

h {
    font-family: 'Cherry Swash';
    font-size: 45px;
}

h1 {
    font-family: 'Cherry Swash';
    font-size: 32px;
    padding-bottom: 50px;
}

h3 {
    font-family: 'Farsan';
    font-size: 22px;
    text-align: center;
}

.festaPic {
    max-width: 600px;
    margin-left: 11%;
}

#festaPicRow {
    margin-bottom: 200px;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#overview,
#InitialResearch,
#DesignPhase,
#FinalDesign,
#Team {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}

#UserInterviews {
    text-align: center;
    margin-left: 200px;
}

#SJpic {
    max-height: 600px;
    margin-left: 120px;
}

#JourneyMap {
    text-align: inline-start;
    margin-left: 400px;
    margin-right: 200px;
    margin-top: 250px;
}

#MapPic,
#Moodpic {
    max-width: 1170px;
    padding-top: 3%;
    margin-left: 400px;
}

#MoodBoard1,
#MoodBoard2 {
    text-align: center;
    margin-top: 200px;
}

#DigitalWireF,
#UsabilityTest {
    text-align: inline-start;
    margin-left: 10%;
    max-width: 1490px;
}

#WfFesta1,
#FD1 {
    margin-left: 4%;
    max-width: 900px;
    margin-bottom: 4%;
}

#WfFesta2 {
    margin-left: 15%;
}

.styles {
    max-width: 700px;
    margin-top: 7%;
    margin-bottom: 200px;
}

#FD2 {
    max-height: 750px;
    margin-left: 20%;
    margin-bottom: 200px;
}

#FinalThoughts {
    text-align: center;
    max-width: 1490px;
    margin-left: 10%;
    margin-bottom: 200px;
}

#TeamM {
    text-align: center;
    max-width: 1200px;
    margin-top: 5%;
    margin-left: 18%;
    margin-bottom: 5%;
}

#button {
    background-image: url("../img/bbg1.png");
    height: 400px;
    max-width: auto;
}